.results-title {
  text-align: center;
}

.results-list {
  margin-bottom: 20px;
}

.result-item {
  border-radius: 16px !important;
  margin-bottom: 10px;
}

.r-emoji {
  font-size: 32px;
}

.no-matches-text {
  text-align: center;
}
